

/* <h1>p1_Nacimiento de los primates</h1>
				<link href="p1.css" type="text/css" rel="stylesheet"/> */



body{
			font-family: #00ffffarial;
			background-color: #ccff00;
			font-size: 12pt;
			}
			
			h1
			{
			font-size: 18pt;
			color: black;
			font-style: oblique;
			}
	
			h2
			{
			font-family: times new roman;
			font-size: 16pt;
			color:  #ff0000;
			font-weight:bold;
			}
			p
			{
			text-align: justify;
			color: black;
			font-weight:bold;
			}
