body{
			font-family: #00ffffarial;
			
			background-color:  black;
			font-size: 15pt;
			}
			
			h1
			{

			color:#00ff33;
			font-style: oblique;
			}
	
			h2
			{
			font-family: times new roman;
			font-size: 20pt;
			color:#ff0000;
			font-weight:bold;
			}
			
			p
			{
			text-align: justify;
			color:white;
			font-weight:bold;
			}
			
			.clase
			{

			color:#ffff00;
			font-style: oblique;
			}
			
			.uno{
					 
  border: 1px solid #98be10;
  background: #f6feda;
			}
			
			#escuson{
		background-color:  #ff0000;
		width: 60%;
		
		}
